<div id="<%= dom_id aufgabe %>">
  <p>
    <strong>Aufgabe:</strong>
    <%= aufgabe.aufgabe %>
  </p>

  <p>
    <strong>Dringlichkeit:</strong>
    <%= aufgabe.dringlichkeit %>
  </p>

  <p>
    <strong>Schwierigkeit:</strong>
    <%= aufgabe.schwierigkeit %>
  </p>

</div>
