<% content_for :title, "Editing aufgabe" %>

<h1>Editing aufgabe</h1>

<%= render "form", aufgabe: @aufgabe %>

<br>

<div>
  <%= link_to "Show this aufgabe", @aufgabe %> |
  <%= link_to "Back to aufgabes", aufgabes_path %>
</div>
